<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/signup.css')}}">
</head>
<body>
    {% extends "layout.html" %}
    {% block content %}
    <div class="container">
        <div>
            <h4 class="text-center p-2 h4">sign-up</h4>
            {% from "_formhelpers.html" import render_field %}
            <form method=post>
                {{ form.csrf_token }}
                <div>
                    {{ render_field(form.first_name, class="form-control") }}
                    {{ render_field(form.last_name, class="form-control") }}
                    {{ render_field(form.email, class="form-control") }}
                    {{ render_field(form.password, class="form-control") }}
                    {{ render_field(form.confirm, class="form-control") }}
                    {{ render_field(form.address, class="form-control") }}
                </div>
                <a href="{{ url_for('login') }}">I have account</a>
                <p><input type="submit" value="sign up" class="btn-info">
            </form>
        </div>
    </div>
    {% endblock content %}
</body>
</html>