<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css' )}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <!-- {% if title %} -->
    <!-- {% else %} -->
    <title>techOnline | Shop</title>
    <!-- {% endif %} -->
  </head>
  <body>
    {% block content %}
        <div class="search-container">
          <h1 class="logo">tech<span>O</span>nline</h1>
          <form action="" method="post">
            <input type="search" name="product_name" required  placeholder="search for product">
            <input type="submit" value="Search">
          </form>
          <ul class="bar">
            <li><a href="{{ url_for('customer_profile') }}">Profile</a></li>
            <li><a href="{{ url_for('product_form') }}">show Your product</a></li>
            <li><a href="{{ url_for('logout') }}"> Logout</a></li>
          </ul>
        </div>

        <div class="products-container">
          <div class="container">
            <img src="../static/images/mobile.png" alt="product-picture">
            <span>Iphone 12</span>
            <div>
              <p>lsdakfjalsdkfjsdlkfjsdlkfjdslkfjsdlkfjsdklfjsdkljfskldjflksdjfkljsdklfjlsdkjflsdkjflsdkjflsdkjfsdklfj</p>
            </div>
          </div>
          <div class="container">
            <img src="../static/images/mobile.png" alt="product-picture">
            <span>Iphone 12</span>
            <div>
              <p>lsdakfjalsdkfjsdlkfjsdlkfjdslkfjsdlkfjsdklfjsdkljfskldjflksdjfkljsdklfjlsdkjflsdkjflsdkjflsdkjfsdklfj</p>
            </div>
          </div>
          <div class="container">
            <img src="../static/images/mobile.png" alt="product-picture">
            <span>Iphone 12</span>
            <div>
              <p>lsdakfjalsdkfjsdlkfjsdlkfjdslkfjsdlkfjsdklfjsdkljfskldjflksdjfkljsdklfjlsdkjflsdkjflsdkjflsdkjfsdklfj</p>
            </div>
          </div>
          <div class="container">
            <img src="../static/images/mobile.png" alt="product-picture">
            <span>Iphone 12</span>
            <div>
              <p>lsdakfjalsdkfjsdlkfjsdlkfjdslkfjsdlkfjsdklfjsdkljfskldjflksdjfkljsdklfjlsdkjflsdkjflsdkjflsdkjfsdklfj</p>
            </div>
          </div>
          <div class="container">
            <img src="../static/images/mobile.png" alt="product-picture">
            <span>Iphone 12</span>
            <div>
              <p>lsdakfjalsdkfjsdlkfjsdlkfjdslkfjsdlkfjsdklfjsdkljfskldjflksdjfkljsdklfjlsdkjflsdkjflsdkjflsdkjfsdklfj</p>
            </div>
          </div>
          <div class="container">
            <img src="../static/images/mobile.png" alt="product-picture">
            <span>Iphone 12</span>
            <div>
              <p>lsdakfjalsdkfjsdlkfjsdlkfjdslkfjsdlkfjsdklfjsdkljfskldjflksdjfkljsdklfjlsdkjflsdkjflsdkjflsdkjfsdklfj</p>
            </div>
          </div>
          <div class="container">
            <img src="../static/images/mobile.png" alt="product-picture">
            <span>Iphone 12</span>
            <div>
              <p>lsdakfjalsdkfjsdlkfjsdlkfjdslkfjsdlkfjsdklfjsdkljfskldjflksdjfkljsdklfjlsdkjflsdkjflsdkjflsdkjfsdklfj</p>
            </div>
          </div>
          <div class="container">
            <img src="../static/images/mobile.png" alt="product-picture">
            <span>Iphone 12</span>
            <div>
              <p>lsdakfjalsdkfjsdlkfjsdlkfjdslkfjsdlkfjsdklfjsdkljfskldjflksdjfkljsdklfjlsdkjflsdkjflsdkjflsdkjfsdklfj</p>
            </div>
          </div>
          <div class="container">
            <img src="../static/images/mobile.png" alt="product-picture">
            <span>Iphone 12</span>
            <div>
              <p>lsdakfjalsdkfjsdlkfjsdlkfjdslkfjsdlkfjsdklfjsdkljfskldjflksdjfkljsdklfjlsdkjflsdkjflsdkjflsdkjfsdklfj</p>
            </div>
          </div>
          <div class="container">
            <img src="../static/images/mobile.png" alt="product-picture">
            <span>Iphone 12</span>
            <div>
              <p>lsdakfjalsdkfjsdlkfjsdlkfjdslkfjsdlkfjsdklfjsdkljfskldjflksdjfkljsdklfjlsdkjflsdkjflsdkjflsdkjfsdklfj</p>
            </div>
          </div>
          <div class="container">
            <img src="../static/images/mobile.png" alt="product-picture">
            <span>Iphone 12</span>
            <div>
              <p>lsdakfjalsdkfjsdlkfjsdlkfjdslkfjsdlkfjsdklfjsdkljfskldjflksdjfkljsdklfjlsdkjflsdkjflsdkjflsdkjfsdklfj</p>
            </div>
          </div>
          <div class="container">
            <img src="../static/images/mobile.png" alt="product-picture">
            <span>Iphone 12</span>
            <div>
              <p>lsdakfjalsdkfjsdlkfjsdlkfjdslkfjsdlkfjsdklfjsdkljfskldjflksdjfkljsdklfjlsdkjflsdkjflsdkjflsdkjfsdklfj</p>
            </div>
          </div>
          <div class="container">
            <img src="../static/images/mobile.png" alt="product-picture">
            <span>Iphone 12</span>
            <div>
              <p>lsdakfjalsdkfjsdlkfjsdlkfjdslkfjsdlkfjsdklfjsdkljfskldjflksdjfkljsdklfjlsdkjflsdkjflsdkjflsdkjfsdklfj</p>
            </div>
          </div>
          <div class="container">
            <img src="../static/images/mobile.png" alt="product-picture">
            <span>Iphone 12</span>
            <div>
              <p>lsdakfjalsdkfjsdlkfjsdlkfjdslkfjsdlkfjsdklfjsdkljfskldjflksdjfkljsdklfjlsdkjflsdkjflsdkjflsdkjfsdklfj</p>
            </div>
          </div>
          <div class="container">
            <img src="../static/images/mobile.png" alt="product-picture">
            <span>Iphone 12</span>
            <div>
              <p>lsdakfjalsdkfjsdlkfjsdlkfjdslkfjsdlkfjsdklfjsdkljfskldjflksdjfkljsdklfjlsdkjflsdkjflsdkjflsdkjfsdklfj</p>
            </div>
          </div>
          <div class="container">
            <img src="../static/images/mobile.png" alt="product-picture">
            <span>Iphone 12</span>
            <div>
              <p>lsdakfjalsdkfjsdlkfjsdlkfjdslkfjsdlkfjsdklfjsdkljfskldjflksdjfkljsdklfjlsdkjflsdkjflsdkjflsdkjfsdklfj</p>
            </div>
          </div>
          <div class="container">
            <img src="../static/images/mobile.png" alt="product-picture">
            <span>Iphone 12</span>
            <div>
              <p>lsdakfjalsdkfjsdlkfjsdlkfjdslkfjsdlkfjsdklfjsdkljfskldjflksdjfkljsdklfjlsdkjflsdkjflsdkjflsdkjfsdklfj</p>
            </div>
          </div>
          <div class="container">
            <img src="../static/images/mobile.png" alt="product-picture">
            <span>Iphone 12</span>
            <div>
              <p>lsdakfjalsdkfjsdlkfjsdlkfjdslkfjsdlkfjsdklfjsdkljfskldjflksdjfkljsdklfjlsdkjflsdkjflsdkjflsdkjfsdklfj</p>
            </div>
          </div>
          <div class="container">
            <img src="../static/images/mobile.png" alt="product-picture">
            <span>Iphone 12</span>
            <div>
              <p>lsdakfjalsdkfjsdlkfjsdlkfjdslkfjsdlkfjsdklfjsdkljfskldjflksdjfkljsdklfjlsdkjflsdkjflsdkjflsdkjfsdklfj</p>
            </div>
          </div>
          <div class="container">
            <img src="../static/images/mobile.png" alt="product-picture">
            <span>Iphone 12</span>
            <div>
              <p>lsdakfjalsdkfjsdlkfjsdlkfjdslkfjsdlkfjsdklfjsdkljfskldjflksdjfkljsdklfjlsdkjflsdkjflsdkjflsdkjfsdklfj</p>
            </div>
          </div>
          <div class="container">
            <img src="../static/images/mobile.png" alt="product-picture">
            <span>Iphone 12</span>
            <div>
              <p>lsdakfjalsdkfjsdlkfjsdlkfjdslkfjsdlkfjsdklfjsdkljfskldjflksdjfkljsdklfjlsdkjflsdkjflsdkjflsdkjfsdklfj</p>
            </div>
          </div>
          <div class="container">
            <img src="../static/images/mobile.png" alt="product-picture">
            <span>Iphone 12</span>
            <div>
              <p>lsdakfjalsdkfjsdlkfjsdlkfjdslkfjsdlkfjsdklfjsdkljfskldjflksdjfkljsdklfjlsdkjflsdkjflsdkjflsdkjfsdklfj</p>
            </div>
          </div>
          <div class="container">
            <img src="../static/images/mobile.png" alt="product-picture">
            <span>Iphone 12</span>
            <div>
              <p>lsdakfjalsdkfjsdlkfjsdlkfjdslkfjsdlkfjsdklfjsdkljfskldjflksdjfkljsdklfjlsdkjflsdkjflsdkjflsdkjfsdklfj</p>
            </div>
          </div>
          <div class="container">
            <img src="../static/images/mobile.png" alt="product-picture">
            <span>Iphone 12</span>
            <div>
              <p>lsdakfjalsdkfjsdlkfjsdlkfjdslkfjsdlkfjsdklfjsdkljfskldjflksdjfkljsdklfjlsdkjflsdkjflsdkjflsdkjfsdklfj</p>
            </div>
          </div>
          <div class="container">
            <img src="../static/images/mobile.png" alt="product-picture">
            <span>Iphone 12</span>
            <div>
              <p>lsdakfjalsdkfjsdlkfjsdlkfjdslkfjsdlkfjsdklfjsdkljfskldjflksdjfkljsdklfjlsdkjflsdkjflsdkjflsdkjfsdklfj</p>
            </div>
          </div>
          <div class="container">
            <img src="../static/images/mobile.png" alt="product-picture">
            <span>Iphone 12</span>
            <div>
              <p>lsdakfjalsdkfjsdlkfjsdlkfjdslkfjsdlkfjsdklfjsdkljfskldjflksdjfkljsdklfjlsdkjflsdkjflsdkjflsdkjfsdklfj</p>
            </div>
          </div>
          <div class="container">
            <img src="../static/images/mobile.png" alt="product-picture">
            <span>Iphone 12</span>
            <div>
              <p>lsdakfjalsdkfjsdlkfjsdlkfjdslkfjsdlkfjsdklfjsdkljfskldjflksdjfkljsdklfjlsdkjflsdkjflsdkjflsdkjfsdklfj</p>
            </div>
          </div>
        </div>
        <!-- {% if name %}
        <h1>{{ name.id }}</h1>
        <h1>{{ name.first_name }} {{ name.last_name }}</h1>
        {% endif %} -->

    {% endblock content %}
    <script src="{{ url_for('static',filename='js/bootstrap.bundle.min.js')}}"></script>
  </body>
</html>